<div class="container">
    <h1><%= @subreddit.name %></h1>
    <div class="row">
        <%= form_for @subreddit do |f| %>
        <p class="col-sm-12">
            <%= f.label :description %><br>
            <%= f.text_area :description, class: "col-sm-12", style: "height: 120px;" %>
        </p>
        <p>
            <%= f.submit 'Submit' %>
        </p>
        <% end %>
    </div>
</div>
