<div class="container form-control">
    <h1>Signup!</h1>
    <%= form_for(@user) do |f| %>
        <div class="row">
            <%= f.text_field :name, class: "sm-offset-4 col-sm-4", placeholder: "Username"%>
        </div>
        <div class="row">
            <%= f.text_field :email, class: "sm-offset-4 col-sm-4", placeholder: "Email"%>
        </div>
        <div class="row">
            <%= f.password_field :password, class: "sm-offset-4 col-sm-4", placeholder: "Password"%>
        </div>
        <div class="row">
            <%= f.password_field :password_confirmation, class: "sm-offset-4 col-sm-4", placeholder: "Confirm Password"%>
        </div>
    <%= f.submit "Submit", class: "col-sm-3"%>
    <% end %>
</div>
